

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #DCDCDC;
  color: black;
  text-align: center;

	p {
		display: inline-block;
		padding-right: 1em;
	}
	a {
		color: #B22222;
	}
}




